@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.element::-webkit-scrollbar { width: 0 !important }
body{
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
html {
  background: linear-gradient(305deg, #000000, #13212a);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.topnav {
  overflow: hidden;
  background-color: #f0f8ff00;
  line-height: 1.57;
  margin-top: 40px;
}
.topnav a {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #d5d5d5 !important;
  transition: 0.3s;
}

.topnav a:hover {
  color: #5b5b5b;
  transition: 0.3s;
  cursor: default;
  text-decoration: none;
}
a:hover {
  color: #5b5b5b;
  transition: 0.3s;
}

.topnav a.active {
  color: white;
  border-radius: 4px;
  color: white !important;
  font-weight: 600;
}
.item {
  margin-left: 10px;
}
#home-icon {
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 2em;
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  color: white;
  position: absolute;
  top: 1%;
  left: 1%;
  transition: 0.3s;
  font-size: 2.3em;
  display: none;
}
#home-icon:hover {
  color: #5b5b5b
}
.carousel-control {
  padding-top:10%;
  width:5%;
  margin-left: 0px;
  }
.thumbnail {
  display: block !important;
  padding: 0px !important;
  margin-bottom: 20px !important;
  background-color: #fff0 !important;
  border: 0px solid #ddd0 !important;
  border-radius: 1px;
  -webkit-transition: border .2s ease-in-out !important;
  -o-transition: border .2s ease-in-out !important;
  transition: border .2s ease-in-out!important;
  width: 15.625vw !important;
  height: 15.59vh;
  transition: 0.3s;
  background: repeating-linear-gradient(to right, #c4c4c4 0%, grey 50%, #c4c4c4 100%);
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 0.55s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
  
@keyframes gradient { 
0%   { background-position: 0 0; }
100% { background-position: -200% 0; }
}
.thumbnail img {
    border-radius: 1px;
    width: 100%;
    height: 100% !important;
}
.well {
    background-color: #1b1b1b00 !important;
    width: 1895px;
    margin-left: -380px;
    height: 22.079vh;
    border-radius: 4px !important;
    border: none !important;
    box-shadow: none !important;
}
#myCarousel {
    background-color:  #1b1b1b00;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
  .img-responsive {
  width: 300px !important;
  height:170px !important;
  }
 .home-explainer__image {
    width: 100%;
    border-radius: 4px;
    background: transparent;
    background-repeat: no-repeat;
}
  .carousel-inner {
    position: relative;
    width: 1870px;
    overflow: hidden;
    margin-left: 9px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    width: 1900px;
    margin-top: 15px;
}
.carousel-control.left {
    height: 300px;
    background-color: black;
    margin-top: 100px;
    border-radius: 50%;
    padding: 8px 18px;
    width: 46px;
    height: 46px;
    opacity: 100 !important;
    margin-left: -20px;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-color: black;
    height: 0px;
    margin-top: 9.276437847866419vh;
    margin-left: -20px;
    opacity: 100 !important;
    border-radius: 50%;
    padding: 8px 18px;
    width: 46px;
    height: 46px;
}
.anime-top-title {
    color: white;
    margin-left:10px;
    margin-top: 32px;
    font-size: 150%;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
    display: block !important;
    transition: 0.3s;
}
h1 {
  font-weight: bolder !important;
}
#play-btn {
  color: black;
  position: absolute;
  top: 65px;
  left: 125px;
  border-radius: 50%;
  padding: 8px 18px;
  width: 46px;
  height: 46px;
  background-color: white;
  font-size: 20px;
  line-height: 1.6;
  text-decoration: none;
  display:none;
}
#play-btn:hover {
  display: block;
  color: gray;
  text-decoration: none;
}
.play-style {
  outline: none;
  border: none;
}
.col-xs-3 {
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 10px!important;
    width: 15.85vw !important;
    transition: 0.3s;
}
.col-xs-3:hover {
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 10px!important;
    outline: none;
    text-decoration: none;
    color: gray;
    transition: 0.3s;
}
a:hover {
  text-decoration: none;
  outline: none;
  border: none;
  color: white!important;
}
a {
  color: white !important;
}
.anime-title {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  font-weight: 1000;
  font-size: 24px;
  margin-left: -16px;
  margin-top: 25px;
}
.container {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding-right: 15px;
  padding: 0;
  margin-right: auto;
  margin-left: 355px!important;
  width: 1170px;
}
.container2 {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding-right: 15px;
  padding: 0;
  margin-right: auto;
  margin-left: 370px;
  margin-top:-175px !important;
  width: 1170px;
}
.container3 {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding-right: 15px;
  padding: 0;
  margin-right: auto;
  margin-left: 370px;
  width: 1170px;
}
.container4 {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding-right: 15px;
  padding: 0;
  margin-right: auto;
  margin-left: 370px;
  margin-top: -355px !important;
  width: 1170px;
}
.container5 {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding-right: 15px;
  padding: 0;
  margin-bottom: 270px;
  margin-right: auto;
  margin-left: 370px;
  margin-top: -155px !important;
  width: 1170px;
}
.container6 {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding-right: 15px;
  padding: 0;
  margin-right: auto;
  margin-left: 370px;
  margin-top: -155px !important;
  width: 1170px;
}
.genre-title {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  margin-left: -29.5%;
  margin-top: 16.5%;
  margin-bottom: -10px;
  text-align: left;
  color: white;
  font-weight: 100;
  font-size: 25px;
}
.genre-title2 {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -29.3%;
  text-align: left;
  margin-top: 200px !important;
  color: white;
  font-weight: 100;
  font-size: 25px;
}
.genre-title3 {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -28.8%;
  margin-top: 250px !important;
  text-align: left;
  color: white;
  font-weight: 100;
  font-size: 25px;
}
.genre-title4 {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -29%;
  margin-top: 590px !important;
  text-align: left;
  color: white;
  font-weight: 100;
  font-size: 25px;
}
.genre-title5 {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -29%;
  margin-top: 390px !important;
  text-align: left;
  color: white;
  font-weight: 100;
  font-size: 25px;
}
.genre-title6{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -29%;
  margin-top: 225px !important;
  text-align: left;
  color: white;
  font-weight: 100;
  font-size: 25px;
}
.genre-title7{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -29%;
  margin-top: 390px !important;
  text-align: left;
  color: white;
  font-weight: 100;
  font-size: 25px;
}
.genre-title8{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  margin-left: -29%;
  margin-top: 18.5529vh;
  text-align: left;
  color: white;
  font-weight: 100;
  font-size: 2.319109461966604823747680890538vh;
}
.header-img{
  margin-top: 50px;
  margin-left: 30px;
  transition: 0.2s opacity ease;
  opacity: 1;
  width: 95vw;
  height: 400px;
  background-image: linear-gradient(to bottom, rgb(75 95 11 / 0%), #090f13fa),

  linear-gradient(to top, rgb(75 105 111 / 0%), #090f13fa), 

  url(https://wallpaperaccess.com/full/736083.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
@font-face {
    font-family: 'Netflix Sans';
    font-weight: 500;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}
.front-title {
  color: white;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  left: 150px;
  top: 200px;
  font-size: 70px;
}
.summary {
  color: white;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  left:150px;
  top: 325px;
  font-size:110%;
  width: 30vw;
}
.header-info {
  font-size: 125%;
  position: absolute;
  top: 400px;
  left:150px;
  color:white;
  display: none;
}
.play-btn {
  left: 150px;
  top: 450px;
  font-size: 200%;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  width: 150px;
  height: 70px;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  border: none;
  transition: 0.2s;
  background-color: white;
  word-spacing: 10px;
}
.play-btn:hover {
  background-color: #bfbcbc;
  color: #333333;
  cursor: default;
}
.info-btn {
  left: 350px;
  top: 450px;
  font-size: 200%;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  width: 150px;
  height: 70px;
  font-weight: 500;
  border-radius: 4px;
  outline: none;
  border: none;
  transition: 0.2s;
  background-color: #191919;
  color:white;
  word-spacing: 5px;
}
.info-btn:hover {
  background-color: #363636;
  color: #ffffff;
  cursor: default;
}
.thumbnail:hover {
 text-decoration: none !important; 
}
.goto-btn {
  width: 2.605vw;
  height: 4.640vh;
  border-radius: 50%;
  outline: none;
  border: none;
  position: absolute;
  top: 5.5658627087198515769944341372913vh;
  left: 6.510416vw;
  transition: 0.3s;
  display: none;
}
.goto-btn:hover {
  cursor: unset;
  background-color: #bfbcbc;
}
.goto-btn h4 {
  color: #1b1b1b;
  margin-left: 3.5px;
  transition: 0.3s;
}
.col-xs-3:hover .goto-btn {
  transition: 0.3s;
  display: block;
}
.anime-top-title:hover .goto-btn {
  display: block;
  transition: 0.3s;
}
.thumbnail:hover .goto-btn {
  display: block;
  transition: 0.3s;
}
.thumbnail img:hover .goto-btn {
  display: block;
  transition: 0.3s;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #0b0b0b;
  padding-top: 60px;
  overflow-x: hidden;
  transition: 0.3s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181 !important;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sidenav a:hover {
  color: #f1f1f1;
  cursor: default;
  color: white !important;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  padding: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.side-nav-opn {
  position:absolute;
  color:white;
  top: 35px;
  left: 1850px;
  font-size:30px;
  transition: 0.1s;
}
.side-nav-opn:hover {
  color: #5b5b5b;
  cursor: default;
}
.popout-txt{
  border-bottom: 0.25px solid #4c4b4b1a;
  margin-top: 15px;
  font-size: 1.5vh !important;
}
.popout-txt:hover {
  text-decoration: none !important;
}
.closebtn:hover {
  text-decoration: none !important;
}
.big-img-container {
  margin-top: 23.19109461966605vh;
  margin-left: 1.40625vw;
}
.big-img-container img {
  width: 13.4vw;
  height: 45vh;
  transition: 0.000001s;
  margin-left: 0.4rem;
  background: repeating-linear-gradient(to right, #c4c4c4 0%, grey 50%, #c4c4c4 100%);
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 0.55s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes gradient { 
0%   { background-position: 0 0; }
100% { background-position: -200% 0; }
}
.big-img-container img:hover {
  outline: 2px solid white;
}
.big-img-container h1 {
  color: white;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 100 !important;
  margin-bottom: 25px;
  font-size: 25px;
  margin-right: 20vw;
}
#left9 {display: none;}
#myCarousel9:hover #left9 {display: block;}
#right9 {display: none;}
#myCarousel9:hover #right9 {display: block;}

#left10 {display: none;margin-top: 9.276437847866419vh;}
#myCarousel10:hover #left10 {display: block;}
#right10 {display: none;}
#myCarousel10:hover #right10 {display: block;}

#left11 {display: none;}
#myCarousel11:hover #left11 {display: block;}
#right11 {display: none;}
#myCarousel11:hover #right11 {display: block;}


.loading-display {
  background: linear-gradient(45deg, #090909, #111111);
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.loading-display img {
  display: block;
}
.loading-logo {
  width: 60rem;
  height: 35rem;
  margin: 15rem 0rem 0rem 65rem;
}
.loading-gif {
  width: 14rem;
  margin: -5rem 0rem 0rem 90rem;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
#id, #genre, #imdbid {
  display: none !important;
}
.popup {
  width: 30vw;
  overflow: auto;
  background: #050505;
  z-index: 1;
  position: fixed;
  box-shadow: #000000bf 0px 3px 10px;
  height: 50vh;
  margin-left: 35vw;
  margin-top: 20vh;
}
.popimg {
  height: 27.6vh;
  /* background-image: linear-gradient(to left, rgb(0 0 0 / 0%), #05050500, #050505),                    linear-gradient(to bottom, rgb(0 0 0 / 0%), #050505),                    url(https://img3.hulu.com/user/v3/artwork/c6321cb1-1879-4d7f-9e2f-8d7d4fc55544?base_image_bucket_name=image_manager&base_image=6206d6d0-4cd7-47b2-9cb7-e24b194fbc85&size=1200x630&format=jpeg); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.popup_title {
  color: white;
  font-size: 2.5vh;
  display: block;
  margin: 1vw;
}
.back i {
  color: white;
  transition: 0.3s
}
.back {
  position: fixed;
  margin: 2rem;
}
.back i:hover {
  color: gray;
}
.episode-click {
  margin-top: .4rem;
  float: left;
  width: 30vw;
  height: 7.5vh;
  background: #0b0b0b;
  border-radius: 5px;
  display: block;
}
.episode-click:hover {
  cursor:pointer;
}
.episode-click h3 {
  color: #fff;
  font-size: 1.4rem;
  margin-right: 0px;
  width: 20vw;
  margin-left: 3rem;
  margin-top: 3rem;
}
.ep-click-holder {
  margin-top: 3rem;
  width: 65rem;
  overflow: auto;
}
.start-btn {
  margin-top: -4vh;
  margin-right: 1.5vw;
  display: inline;
  margin-left: 3vw;
  color: white;
  float: right;
}
.start-btn i {
  display: inline;
  font-size: 1.75rem;
  border: 3px solid white;
  padding: 1rem 1rem 1rem 1.3rem ;
  border-radius: 50px;
}
.media-info {
    padding: 100px;
}
.discover {
  margin-top: 10.829313543599257884972170686456vh;
  color: white;
  width: 95%;
  margin-left: 35px;
  margin-right: 10px;
  margin-bottom: 100px;
  background: #0e0e0e;
  padding: 108px;
  padding-bottom: 0px;
}
.disco-text-container h5 {
  font-size: 2.319vh;
  width: 15.625vw;
}
.disco-text-container h1 {
  text-align: center;
}

.explore {
  display: inline-block;
  width: 20.834vw;
}

.explore h5:hover {
  cursor: default;
}
.explore h5:after {
content: ' >';
opacity: 0;
transition: 0.3s;
font-weight: 1000;
}
.explore:hover h5:after {
opacity: 1;
}
.explore img {
  border-radius: 5px;
  margin: 10px;
  width: 8.334vw;
  height: 8.35vh;
}
.discover-block-container {
    margin-top: 50px;
    width: 85vw;
}
.back svg {
  color: white;
  fill: white;
  width: 3rem;
}

.start-btn svg {
  color: white;
  fill: white;
  width: 2rem;
}
.help-center h4 {
  display: inline-block;
  color: gray;
  font-size: 15px;
  font-weight: 100;
}

.help-center ul {
  display: inline-block;
  color: gray;
  font-size: 15px;
  font-weight: 100;
  margin-right: 100px;
  margin-top: 25px;
}

.help-center {
  width: fit-content;
  margin: auto;
  margin-top: 50px;
}
.help-center li {
  text-decoration: none;
  list-style: none;
  margin-bottom: 10px;
  transition: 0.175s;
}
.help-center li:hover {
  cursor: pointer;
  color: white;
}

.help-center h3 {
  color: white;
  font-size: 20px;
}
.carousel-control.right {
  left: 96vw !important;
  margin-top: 9.276437847866419vh;
}
.carousel-control.left {
  margin-top: 9.276437847866419vh;
}
#select {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}

.sel1 {
  background: linear-gradient(45deg, #0e0e0e, #828282);
}

.sel2 {
  background: linear-gradient(305deg, #203847, #13212a);
}

.sel3 {
  background: linear-gradient(-150deg, #a34b4b, #240707);
}

.confirmed {
  border: 2px solid white;
}

.theme-select {
  margin-left: 1.75vw;
  margin-top: 1vh;
}

#select:hover {
  border: 2px solid white;
}

.confirmed:hover {
  border: 2px solid white !important;
  cursor: unset;
}
.winp {
  outline: none;
  border: none;
  padding: 10px;
  font-weight: 600;
  background: #1c1c1c;
  color: white;
  width: 13vw;
  height: 5vh;
  margin-left: 1vw;
}

.wbut {
  background: #1c1c1c;
  color: white;
  outline: none;
  border: none;
  padding: 10px;
  width: 27.2vw;
  height: 5vh;
  margin: 1vw;
  transition: 0.2s;
}
.wbut:hover {
  background: #303030;
}
#content-cont {
    display: none;
    width: 100vw;
    height: 100vh;
    background: black;
    position: absolute;
    z-index: 6;
}

.discont iframe {
    width: 100vw;
    height: 97vh;
    outline: none;
    border: none;
}
span.gohome {
    z-index: 10;
    width: 1.85vw;
    height: 2vh;
    position: absolute;
    right: .75vw;
    top: 4.5vh;
    transition: 0.175s;
    display: none;
}

span.gohome:hover {
    cursor: pointer;
    color: white;
}
.special {
  width: 100vw;
  height: 65vh;
  margin: auto;
  background: url(https://i.imgur.com/IjY83rr.jpeg);
  background-repeat: no-repeat;
  margin-top: 27vh;
  background-size: 100% 100%;
}

.special button {
  background: #383838;
  color: white;
  outline: none;
  border: none;
  padding: .75vw;
  border-radius: 3px;
  margin-top: 43vh;
  font-size: 1.05vw;
  font-weight: 500;
  margin-right: 1vw;
}

.special button:hover {
  outline: 1px solid #b4b4b4;
  cursor: default;
}

.special-btns {
  margin-left: 4.5vw;
}
#spcbtn:after {
content: ' >';
opacity: 0;
transition: 0.3s;
font-weight: 1000;

}
#spcbtn:hover #spcbtn:after {
opacity: 1;
}
.load {
    z-index: 100;
    position: absolute;
    width: 100vw;
    height: 100vh;
        background: linear-gradient(to right top,#000000, #13212a, #000000);
    background-repeat: no-repeat;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

#load-dots {
    width: 5vw;
    display: block;
    margin-left: 912px;
    margin-right: 912px;
    margin-top: -6vh;
}
#load-logo {
    margin-left: 45vw;
    width: 10vw;
    height: 20vh;
    margin-top: 30vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.left-content img:hover {
  cursor: pointer;
}
.carousel-control:hover {
    cursor: default;
}
.popout-txt:hover {border-bottom: 1px solid #0b0b0b;}